body {
  background-color: #4ae;
  color: #000040;
}

.kontener {
  position: absolute;
  width: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: #ffffff;
}
header{
    background-color: grey;
}
#slideshow {
  position: relative;
  margin: 30px;
  height: 200px;
}
#slideshow img {
  position: absolute;
  width: 90%;
  height: 80%;
  top: 0;
  left: 5%;
  
  z-index: 8;
}
#slideshow img.active {
  z-index: 10;
}
#slideshow img.last-active {
  z-index: 9;
}
h1,
h2,
footer {
  margin: 0;
  background: #000040;
  color: #8080ff;
  text-align: center;
}
nav {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
}

nav li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 85%;
}
/*formatowanie nawigacji*/
nav ul {
  display: flex;
  text-align: left;
  overflow: hidden;
  font-family: calibri, tahoma;
}
nav ul li {
  margin-left: 3px;
  background: #98bed8;
  border: 1px solid #d5d5d5;
  list-style-type: none;
}
nav ul li:hover {
  margin-left: 3px;
  background: #f0f0f0;
  border: 1px solid #d5d5d5;
  list-style-type: none;
}
nav ul li a {
  display: block;
  padding: 4pt;
  text-decoration: none;
}
nav ul li li a {
  width: 160px;
}
nav ul li ul {
  display: none;
  overflow: hidden;
}
nav ul li:hover ul {
  position: absolute;
  display: block;
  padding: 0;
  width: 177px;
  background: #aaa;
}
.zawartosc {
  display: flex;
}
main {
  padding: 1%;
  width: 75%;
  background-color: #b6d0e4;
}
main h3 {
  margin: 0;
  text-align: center;
  font-weight: normal;
}
main ul {
  padding: 0px 50px;
}
main ul li {
  display: inline-block;
  padding: 0px 5px;
  text-align: center;
}
main ul li a img {
  padding: 5px;
}
aside {
  padding: 1%;
  width: 20%;
}
*.box {
  margin: 5px;
  padding: 5px;
  background: #0000a0;
  color: #dbffff;
  font-size: 90%;
}
/*hiperłącza w elementach klasy box*/
*.box a {
  color: #ffffb0;
}
footer {
  padding: 5px 0px 5px 0px;
  width: 100%;
  clear: both;
}
