body{
    background-color: #F6E1C3;
}

#baner, #stopka{
    background-color: #E9A178;
    text-align: center;
}
#menu{
    background-color: #ffffff;
    text-align: center;
}
#menu  a{
    padding-right: 10px;
    text-decoration: none;
}
#tresc{
    background-color: #ebb799;
}
form :nth-child(2){
    margin-left: 19px;
}
form :nth-child(5){
    margin-left: 49px;
}
form input{
    border: 1px solid black;
    border-radius: 4px;
}
form select{
    margin-left: 29px;
    border: 1px solid black;
    border-radius: 4px;
}
